@import 'tailwindcss';

@theme {
  --font-display: "Fraunces", serif;
  --font-sans: "Manrope", sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
